# Salin file ini jadi ".env" lalu isi sesuai broker Mosquitto kamu
MQTT_HOST=test.mosquitto.org
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=
TOPIC_SENSOR=siramli/a1/sensor
TOPIC_CONTROL=siramli-brmp-a1/control
TOPIC_STATUS=siramli-brmp-a1/status
PORT=3000
TOPIC_SCHEDULE_SET=siramli-brmp-a1/schedule/set
TOPIC_SCHEDULE_STATUS=siramli-brmp-a1/schedule/status
